<h1>User info</h1>
<%= image_tag user.get_profile_image(100, 100) %>
<table class="table">
  <tbody>
    <tr>
      <th scope="row">name</th>
      <td class="font-weight-bold"><%= user.name %></td>
    </tr>
    <tr>
      <th scope="row">introduction</th>
      <td class="font-weight-bold"><%= user.introduction %></td>
    </tr>
  </tbody>
</table>
<!--<button type="button" class="btn btn-primary btn-lg btn-block"><i class="fa-solid fa-user-gear"></i></button>-->
<!--<a href="#!" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa-solid fa-user-gear"></i></a>-->
<!--  <p class="bg-dark"><#%= link_to "プロフィール編集", edit_user_path(current_user.id) %></p>-->
<!--  <i class="fa-solid fa-user-gear"></i>-->
<!--<#%= link_to "プロフィール編集", edit_user_path(current_user.id), class: "btn btn-primary btn-lg btn-block" %>-->
<%= link_to edit_user_path(user.id), class: "btn btn-lg btn-block btn-outline-secondary" do %>
  <i class="fas fa-user-cog"></i>
<% end %>